* {
    margin: 0;
    padding: 0;
}

#customNavbar {
    border: 1px solid black;
    overflow: hidden;
    overflow-x: auto;
    /*width: 500px;*/
    width: 2000px;
}

#customNavbar div {
    width: 2000px;
}

#customNavbar ul, #customNavbar li {
    list-style: none;
}

#customNavbar li {
    background-color: lightgray;
    border: 3px solid black;
    float: left;
    line-height: 50px;
    height: 50px;
    margin: 3px;
    text-align: center;
    width: 50px;
}